
.logo {
    max-width: 100px;
    margin: 20px;
    display: flex;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    height: 70px;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px 36px;
}